@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lama-sans);
  --font-mono: var(--font-geist-mono);
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(320deg);
  }
}

@keyframes counter-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-320deg);
  }
}

@layer utilities {
  .animate-spin-slow {
    animation: spin-slow 8s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  }

  .animate-counter-spin {
    animation: counter-spin 8s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-lama-sans), Arial, Helvetica, sans-serif;
}

.font-larken {
  font-family: var(--font-larken-demo);
}